html {
    background-color: black;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
	margin: 0;
	color: black;
	/* background: linear-gradient(#0000008f,rgba(26, 26, 26, 0.7)), url(../static/Images/crypto.jpg); */
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.icon {
	display: none;
}
table, td, th {
  border: 1px solid #44856c;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

td:nth-child(5) {
    color: #44856c;
    font-weight:bold;
}

td:nth-child(4) {
    color: #ff0000;
    font-weight:bold;
}

td:nth-child(10) {
color: #fd0404;

  animation: glow 0.7s ease-in-out infinite alternate;}

th {
    background-color: #44856c78;
}

table {
    margin-top: 2%;
}
div#title {
	 display: inline-block;
      vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

div#title:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
header {
	color: #12ba7c;
	background-size: 100%;
	margin-left: 9%;
	margin-right: 9%;
	background: linear-gradient(#0000008f,rgba(26, 26, 26, 0.7)), url(../static/Images/crypto.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center, center;
	padding-top: 11%;
	padding-bottom: 5%;
	text-align: center;
}

.paragraph{
	 background-color: white;
	 padding-top: 1%;
	 padding-left: 10%;
	 padding-right: 10%;
	 padding-bottom: 1%;
	 margin-left: 7%;
	 margin-right: 7%;
}
#metatrader{
	padding-bottom: 3%;
}
#binance{

		padding-bottom:4%;

}
p {
    font-size: larger;
}
#about {
    padding-top: 7%;
}
nav {
	/* padding-top: 2%; */
	/* margin-top: -1%; */
	/* padding-bottom: 2%; */
	font-size: 110%;
	overflow: hidden;
	/* position: fixed; */
	background-color: #272e38;
	width: 100%;
	z-index:200;
}

.dropdown{
	float:left;
	padding: 2%;
	padding-left:4%;
}
.dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
	display:none;
	position: absolute;
	background-color: #3d7660d6;
	min-width: 160px;
	z-index: 1;
	width: 15%;
	margin-top: 2%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	float: none;
	color: white;
	padding: 5%;
	/* width: 120%; */
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
  background-color: #fdfdfd;
  color: #272e38
}

.dropdown:hover .dropdown-content {
  display: block;
}

a#login {
    float: right;
    padding-right: 8%;
}

a#home {
    padding-left: 7%;
}
nav a {
	padding-left: 4%;
	text-decoration: none;
	padding: 2%;
	color: white;
	float:left;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	/* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
	/* overflow: hidden; */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
}

nav a:HOVER {
	color: #12ba7c;
	}

img#cont {
	width: 4%;
	 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

img#cont:hover {
      -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


#descrizione {
	padding-left: 4%;
	padding-right: 4%;
}

img#descrizione {
	display: inline;
	margin-bottom: 3%;
	float: left;
}

#lan {
	padding-left: 2%;
	padding-right: 3%;
	padding-top: 2%;
}

img#lan {
	width: 8%;
}

img#lan3 {
    padding-right: 2%;
    padding-left: 4%;
    width: 6%;
}

img#lan2 {
	width: 12%;
	padding-left: 3%;
	padding-right: 2%;
}

#languages {
	margin-left: 15%;
	margin-right: 15%;
	text-decoration: none;
}

#contacts {
	padding-top: 0.5%;
	margin-left: 10%;
	margin-right: 10%;
	text-decoration: none;
}

#cont {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	padding-top: 3%;
}




img#descrizione {
	width: 18%;
}

footer {
	font-size: 15px;
	color: white;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: #44856ce3;
	text-align: center;
}

#life {
	margin-left: 13%;
	margin-right: 13%;
	margin-top: 4%;
	margin-bottom: 6%;
	text-decoration: none;
	text-decoration: none;
}

h3 {
	font-weight: bolder;
	margin: 0;
	margin-bottom: 8%;
}

h2 {
	margin: 0;
}@keyframes glow {
  from {
  	color:black
  }
  to {
color:red;

  }
}


h1 {
	font-size: 330%;
	margin: 0;
	margin-bottom: 1%;
	text-align: center;
	text-decoration: none;
}

aside a {
	text-decoration: none;
	color: white;
}

h2#titlog {padding-bottom: 4%;margin: 0;color: #272e38;float: center;margin-top: -23px;text-align: center;}


h2#titreg {padding-bottom: 7%;margin: 0;color: #15b379;/* float: left; */margin-top: -23px;text-align: left;}

h3#log-des {
    margin: 0;
    text-align: center;
    padding-bottom: 1%;
    color: #3d7660ad;
}
div#loginn {
    background-color: white;
    padding-bottom: 8%;
    padding-top: 8%;
}
.breadcrumb {
	padding: 0px;
	margin-left: -2%;
	margin-right: -2%;
	margin-bottom: 2%;
	background-color: #94adc3;
	border-color: black;
	border-width: thin;
	padding: 0.5% 1% 0.5% 1%;
	border-style: solid;
	border-radius: 4px;
}

/* Padding, colore e simbolo del separatore */
.breadcrumb>li+li:before {
	padding: 0 5px;
	color: black;
	content: "/\00a0";
}
.breadcrumb>.active {
	font-weight: bold;
}

ul.breadcrumb li {
	display: inline;
}
.form {
  background: #44856c7a;
  padding-top: 5%;
  max-width: 300px;
  margin: 0 auto 100px;
  /* padding-top: 7%; */
  margin-top: 3%;
  padding: 4%;
  margin-bottom: 3%;
  text-align: center;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #272e389c;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
    transition: 0.5s;

}
.form button:hover {
  background: #272e38;
  transition: 0.5s;
}
.form .message {
  margin: 15px 0 0;
  color: #f2f2f2;
  font-size: 12px;
}
.form .message a {
  color: #272e38;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


div#logo {
    /* padding-bottom: 1%; */
    background: #3d7660;
}


#logo img {
    padding: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    display: block;
    /* vertical-align: inherit; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .paragraph {
  padding-top: 12% !important;
}