<!doctype html>

<html>
<head>
    <title>Metatrader To Binance</title>

    <meta name="author" content="Gerardo De Rosa">
    <meta name="keywords" content="De Rosa, Gerardo, MetatraderToBinance">
    <meta name="description" content="MetatraderToBinance application">
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/410e5bdac4.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="Images/logo.png" type="image/png">
    <link rel="icon" href="Images/logo.png" type="image/png">



</head>

<body>
<script src="{{url_for('static', filename='app.js')}}"></script>
<div id="backgroundpages">
    <nav id="myTopnav" class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">MENU
        &#9776; </a>
    <i class="fas fa-home"></i>

        <span><a id ="home" href="http:\\127.0.0.1:80\home">Home</a></span>
        <span><i class="fas fa-coins"></i>
                 <div class="dropdown">
                    	<a class="dropbtn"  id="binmen">Binance </a><div class="dropdown-content" id="myDropdown">
                  <ul class="a">
                 <a href="http:\\127.0.0.1:80\insert"> <li>Open Position</li></a>
                <a href="http:\\127.0.0.1:80\history"><li>Order History</li></a>
                </ul>

    </div></div></span>
<span> <i class="fas fa-chart-line"></i>
    <div class="dropdown">
                    	<a class="dropbtn"  id="menmet">Metatrader </a><div class="dropdown-content" id="myDropdown">
                <ul class="a">
				<a href="http:\\127.0.0.1:80\copy"><li>Copy Trader To Binance</li></a>
                <a href="http:\\127.0.0.1:80\signals"><li>Capture Metatrader Signals</li></a>
                 <a href="http:\\127.0.0.1:80\insert"> <li>Open Position</li></a>
                <a href="http:\\127.0.0.1:80\history"><li>Order History</li></a>
                </ul>

    </div></div></span>

           <span>
<div id="drop" class="dropdownlog">
                     <a class="droplog" id = "login" href="\login">Login/Registrazione</a>

    <div class="dropdown-content" id="myDropdownn">
                <ul class="a">
				<a href="http:\\127.0.0.1:80\data"><li>Show your data</li></a>
                    <a href="http:\\127.0.0.1:80\logout"><li>Click to Logout</li></a></ul></div></div>
               <i class="far fa-user-circle"></i>
           </span>


    <script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className == "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>


</nav>

<div id="logopages">
<a  href="http:\\127.0.0.1:80\home"><img src="../static/Images/WHITELOGO.png"></a>
    <h1>Personal Data</h1>
</div>
</div>

<span id="info">
<span class="paragraph", id="dpersonal">

    <h2>Personal Information</h2>
      <div id="data" >

 <p id="inline"><label>Username: <input id="username" name="cp"  class="inserto" placeholder="Price" type="text" tabindex="2" required  readonly  ></label></p>

      <p id="inline"><label>Email: <input id="email" name="tp"  class="inserto" placeholder="Take Profit" type="text" tabindex="2" required readonly></label></p>
      <p id="inline"><label>Password:<input id="password"  name="sl" class="inserto" placeholder="Stop Loss" type="text" tabindex="3" required readonly></label></p>
      </div>
</span>

<span class="paragraph", id="dmetatrader">
    <h2>Metatrader</h2>
<span id="data" >

 <p id="inline"><label>Account Name: <input id="an" name="cp"  class="inserto" placeholder="Price" type="text" tabindex="2" required  readonly ></label></p>
      <p id="inline"><label>Account Credit: <input id="ac" name="tp"  class="inserto" placeholder="Take Profit" type="text" tabindex="2" required readonly></label></p>
            <p id="inline"><label>Account Balance: <input id="ab" name="tp"  class="inserto" placeholder="Take Profit" type="text" tabindex="2" required readonly></label></p>


</span>
</span>
</span>
<div class="paragraph", id="dbinance">
    <h2>Binance</h2>
<div id="datab" >

 <p id="inline"><label>Key: <input id="key" name="cp"  class="inserto" placeholder="Price" type="text" tabindex="2" required  readonly ></label></p>

      <p id="inline"><label>Secret Key: <input id="skey" name="tp"  class="inserto" placeholder="Take Profit" type="text" tabindex="2" required readonly></label></p>
      </div>
</div>
</div>

<footer>
    <div id="contacts">
        <h2 id="contacts">References</h2>
        <a href="https://www.binance.com/en"><img alt=""
                                                                 id="cont" src="../static/Images/binance.com.svg"></a> <a
            href="https://docs.mql4.com/"><img alt="" id="cont"
                                                       src="../static/Images/metatrader.png"></a> <a href=" https://www.python.org/"><img
            alt="" id="cont" src="../static/Images/Python.svg"></a>
        <a href=" "><img
            alt="" id="hydron" src="../static/Images/hydron-logo.png"></a>

    </div>

    <p>Copyright &#169; 2020 by Hydron</p>
</footer>
</body>
 <script src="{{url_for('static', filename='app.js')}}"></script>
 <script src="{{url_for('static', filename='data.js')}}"></script>
 <script src="{{url_for('static', filename='login.js')}}"></script>


</html>