<!doctype html>

<html>
<head>
    <title>Metatrader To Binance</title>

    <meta name="author" content="Gerardo De Rosa">
    <meta name="keywords" content="De Rosa, Gerardo, MetatraderToBinance">
    <meta name="description" content="MetatraderToBinance application">
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    <link rel="shortcut icon" href="Images/logo.png" type="image/png">
    <link rel="icon" href="Images/logo.png" type="image/png">



</head>

<body>


<nav id="myTopnav" class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">MENU
        &#9776; </a> <a href="#about">About me</a> <a href="#personal">My
    skills</a> <a href="#contacts">Binance</a><a href="#contacts">Metatrader</a>


    <script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className == "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>

</nav>

<header>
    <div id="title">
    <h1>Metatrader to Binance</h1>

    <h3>On this website ypi will see the transaction opened in metatrader & Binance</h3>
    </div>
</header>


<div class="paragraph", id="about">
    <h2>About the application</h2>

    <p>The purpose of this application written in MQL4 and python, is to helpo all the person who wants to use the usefull metatrader Expert-Advisor to
    trade safely on the Binance Platform. By using the Binance Api all the orders you open in MetaTrader
    will be opened at the same price, with the same StopLoss and TakeProfit, quantity ecc; That's not all, SL and TP will be modified simultaniosely in MetaTrader and Binance and
    you will be also be able to be able to clos the transaction in Binance when it is closed in MetaTrader or Viceversa. On this page you wil see which one of your orders are opened in MT and which
    of them on Binance, You will also be able to check the closed Order and get other usefull info!</p>
</div>


<div class="paragraph", id="metatrader">
    <h2>Metatrader</h2>
</div>


<div class="paragraph", id="binance">
    <h2>Binance</h2>

</div>



<footer>
    <div id="contacts">
        <h2 id="contacts">References</h2>
        <a href="https://www.binance.com/en"><img alt=""
                                                                 id="cont" src="../static/Images/binance.com.svg"></a> <a
            href="https://docs.mql4.com/"><img alt="" id="cont"
                                                       src="../static/Images/metatrader.png"></a> <a href=" https://www.python.org/"><img
            alt="" id="cont" src="../static/Images/Python.svg"></a>
        <a href=" https://gerardoderosa.netlify.app/"><img
            alt="" id="cont" src="../static/Images/me.png"></a>

    </div>

    <p>Copyright &#169; 2020 by De Rosa Gerardo</p>
</footer>
 <script src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>