<!doctype html>

<html>
<head>
    <title>Metatrader To Binance</title>

    <meta name="author" content="Gerardo De Rosa">
    <meta name="keywords" content="De Rosa, Gerardo, MetatraderToBinance">
    <meta name="description" content="MetatraderToBinance application">
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/410e5bdac4.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="Images/logo.png" type="image/png">
    <link rel="icon" href="Images/logo.png" type="image/png">



</head>

<body>
<div id="backgroundpages">
    <nav id="myTopnav" class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">MENU
        &#9776; </a>
    <i class="fas fa-home"></i>

    <span><a id ="home" href="http:\\127.0.0.1:80">Home</a></span>
                                   <span><i class="fas fa-coins"></i>
			<a href="#metatrader" id="binmen">Binance</a>
                </span>
<span> <i class="fas fa-chart-line"></i>
    <div class="dropdown">
                    	<a class="dropbtn"  id="menmet">Metatrader </a><div class="dropdown-content" id="myDropdown">
                  <ul class="a">
				<a href="http:\\127.0.0.1:80\copy"><li>Copy Trader To Binance</li></a>
                <a href="http:\\127.0.0.1:80\signals"><li>Capture Metatrader Signals</li></a>
                 <a href="http:\\127.0.0.1:80\insert"> <li>Open Position</li></a>
               <a href="client"><li>Close Position</li></a>
                <a href="http:\\127.0.0.1:80\history"><li>Order History</li></a>
                </ul>

    </div></div></span>

           <span>
<div id="drop" class="dropdownlog">
                     <a class="droplog" id = "login" href="\login">Login/Registrazione</a>

    <div class="dropdown-content" id="myDropdownn">
                <ul class="a">
				<a href="http:\\127.0.0.1:80\data"><li>Show your data</li></a>
                    <a href="http:\\127.0.0.1:80\logout"><li>Click to Logout</li></a></ul></div></div>
               <i class="far fa-user-circle"></i>
           </span>


    <script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className == "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>


</nav>

<div id="logopages">
<a  href="http:\\127.0.0.1:80\home"><img src="../static/Images/WHITELOGO.png"></a>
    <h1>Insert a new order</h1>
</div>
</div>


<div class="paragraph", id="insert">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div  class="alert alert-primary alert-dismissible fade show" role="alert">
               <button type="button"  class="opened" id="chiudif" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                                                                        <span>{{ message }}</span>

                </button>


            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="container">
  <form id="contact" action="http://127.0.0.1/insert"  method="post">
    <p id="inline"> <label>Symbol: <select onchange="changeprice()" id="symbol"class="inserto"  name="symbol" required autofocus ></select></label></p>

      <p id="inline"><label>Current Price: <input id="cp" name="cp"  class="inserto" placeholder="Price" type="text" tabindex="2" required  readonly ></label></p>

      <p id="inline"><label>Take Profit: <input id="tp" name="tp"  class="inserto" placeholder="Take Profit" type="text" tabindex="2" required></label></p>
      <p id="inline"><label>Stop Loss:<input id="sl"  name="sl" class="inserto" placeholder="Stop Loss" type="text" tabindex="3" required></label></p>
    <p id="inline">  <label>Volume:  <input id="volume"  name="volume" class="inserto" placeholder="Volume" type="text" tabindex="4" required></label></p>
    <p id="inline"> <label>Tipo:  <input id="tipo" name="tipo" class="inserto" placeholder="Tipo" type="text" tabindex="5" required></label></p>

      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
  </form>
</div>
</div>




<footer>
    <div id="contacts">
        <h2 id="contacts">References</h2>
        <a href="https://www.binance.com/en"><img alt=""
                                                                 id="cont" src="../static/Images/binance.com.svg"></a> <a
            href="https://docs.mql4.com/"><img alt="" id="cont"
                                                       src="../static/Images/metatrader.png"></a> <a href=" https://www.python.org/"><img
            alt="" id="cont" src="../static/Images/Python.svg"></a>
        <a href=" "><img
            alt="" id="hydron" src="../static/Images/hydron-logo.png"></a>

    </div>

    <p>Copyright &#169; 2020 by Hydron</p>
</footer>
 <script src="{{url_for('static', filename='app.js')}}"></script>
 <script src="{{url_for('static', filename='newOrder.js')}}"></script>

</body>

</html>