<!doctype html>

<html>
<head>
    <title>Metatrader To Binance</title>

    <meta name="author" content="Gerardo De Rosa">
    <meta name="keywords" content="De Rosa, Gerardo, MetatraderToBinance">
    <meta name="description" content="MetatraderToBinance application">
    <meta name="viewport"
          content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link type="text/css" rel="stylesheet" href="static/style.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="materialize.min.js"></script>
<script src="https://kit.fontawesome.com/410e5bdac4.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="Images/logo.png" type="image/png">
    <link rel="icon" href="Images/logo.png" type="image/png">



</head>

<body>
<div id="backgroundpages">
    <nav id="myTopnav" class="topnav">
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">MENU
        &#9776; </a>
    <i class="fas fa-home"></i>

    <span><a id ="home" href="http:\\127.0.0.1:80\home">Home</a></span>
                                   <span><i class="fas fa-coins"></i>
                 <div class="dropdown">
                    	<a class="dropbtn"  id="binmen">Binance </a><div class="dropdown-content" id="myDropdown">
                  <ul class="a">
                 <a href="http:\\127.0.0.1:80\insert"> <li>Open Position</li></a>
                <a href="http:\\127.0.0.1:80\history"><li>Order History</li></a>
                </ul>

    </div></div></span>

<span> <i class="fas fa-chart-line"></i>
    <div class="dropdown">
                    	<a class="dropbtn"  id="menmet">Metatrader </a><div class="dropdown-content" id="myDropdown">
                  <ul class="a">
				<a href="http:\\127.0.0.1:80\copy"><li>Copy Trader To Binance</li></a>
                <a href="http:\\127.0.0.1:80\signals"><li>Capture Metatrader Signals</li></a>
                 <a href="http:\\127.0.0.1:80\insert"> <li>Open Position</li></a>
                <a href="http:\\127.0.0.1:80\history"><li>Order History</li></a>
                </ul>

    </div></div></span>

           <span>
<div id="drop" class="dropdownlog">
                     <a class="droplog" id = "login" href="\login">Login/Registrazione</a>

    <div class="dropdown-content" id="myDropdownn">
                <ul class="a">
				<a href="http:\\127.0.0.1:80\data"><li>Show your data</li></a>
                    <a href="http:\\127.0.0.1:80\logout"><li>Click to Logout</li></a></ul></div></div>
               <i class="far fa-user-circle"></i>
           </span>


    <script>
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className == "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
		</script>


</nav>

<div id="logopages">
<a  href="http:\\127.0.0.1:80\home"><img src="../static/Images/WHITELOGO.png"></a>
    <h1>Order History</h1>
</div>
 </div>

 <div class="paragraph", id="about">

    <p>Here you will be able to see the history of the orders you closed; in order to do that you just have to register to this webiste, and follow the instruction
    given in the home page!</p>

</div>


<div class="paragraph", id="metatrader">

</div>

<div id="pager">
<ul class="pagination pager" id="myPager"></ul>
</div>


<div class="paragraph", id="binance">
</div>

<div id="pager">
<ul class="pagination pager" id="myPagerb"></ul>
</div>



<footer>
    <div id="contacts">
        <h2 id="contacts">References</h2>
        <a href="https://www.binance.com/en"><img alt=""
                                                                 id="cont" src="../static/Images/binance.com.svg"></a> <a
            href="https://docs.mql4.com/"><img alt="" id="cont"
                                                       src="../static/Images/metatrader.png"></a> <a href=" https://www.python.org/"><img
            alt="" id="cont" src="../static/Images/Python.svg"></a>
        <a href=" "><img
            alt="" id="hydron" src="../static/Images/hydron-logo.png"></a>

    </div>

    <p>Copyright &#169; 2020 by Hydron</p>
</footer>
 <script src="{{url_for('static', filename='app.js')}}"></script>
 <script src="{{url_for('static', filename='oldorder.js')}}"></script>
<script src="{{url_for('static', filename='pagination.js')}}"></script>

</body>

</html>